/*
===================================
Generated colors
===================================
*/

.colors {
  display: flex;
  gap: 1rem;
}

.colors-block {
  width: 2rem;
  height: 2rem;
  border: solid 1px #000;
}
