:root {
  --light: hsl(36, 14%, 93%);
  --dark: hsl(206, 19%, 22%);
  --gold: hsl(46, 86%, 58%);
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('../fonts/CinzelDecorative-Bold.woff2') format('woff2'),
      url('../fonts/CinzelDecorative-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Regular.woff2') format('woff2'),
      url('../fonts/Lora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
===================================
Global styles
===================================
*/

body {
  font-family: 'Lora', serif;
  background-color: var(--dark);
  color: var(--light);
  padding: 0 8.75rem;
  font-size: 1.25rem;
}

h2 {
  font-family: 'Cinzel Decorative', serif;
  font-size: 1.25rem;
}

button {
  border: none;
  background: none;
  color: var(--light);
  cursor: pointer;
}

a {
  color: var(--light);
}

a:hover {
  color: var(--gold);
  transition: 0.3s;
}

button {
  text-decoration: underline;
}

button:hover {
  color: var(--gold);
  transition: 0.3s;
}

/*
===================================
Header
===================================
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5rem 0;
  border-bottom: solid 2px var(--light);
  margin-bottom: 2.5rem;
}

.header__left,
.header__center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__left::before,
.header__center::before {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../img/svg/Icon\ akar-question.svg');
  background-repeat: no-repeat;
  background-size: contain;
  
}

.header__center {
  font-family: 'Cinzel Decorative', serif;
  font-size: 2.375rem;
  text-decoration: none;
}

.header__center::before {
  width: 2.2rem;
  height: 2.2rem;
  background-image: url('../img/svg/Icon\ akar-crown.svg');
}

/*
===================================
Main
===================================
*/

.instructions {
  text-align: center;
  margin-bottom: 2.5rem;
}

/*
-----------------------------------
Colors
-----------------------------------
*/

.colors-block {
  width: 4rem;
  height: 4rem;
  border: solid 2px var(--light);
  border-radius: 50%;
}

.colors-block:hover {
  cursor: pointer;
}

/* 
-----------------------------------
Top section
-----------------------------------
*/

.top-section {
  padding: 0 2.7rem;
  padding-bottom: 2.5rem;
  border-bottom: solid 2px var(--light);
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8rem;
}

.flask {
  width: 8.4rem;
  height: 8.4rem;
  position: relative;
  border: none;
}

.flask::before {
  content: '';
  display: block;
  width: 10.9rem;
  height: 11.8rem;
  background-image: url('../img/svg/Flask.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -2.8rem;
  left: -0.6rem;
}

.flask--bigger {
  width: 10.8rem;
  height: 10.8rem;
}

.flask--bigger::before {
  width: 13.8rem;
  height: 15.4rem;
  top: -3.5rem;
  left: -0.68rem;
}

.flask--bigger:hover {
  cursor: auto;
}

/* -- Top section (left) -- */

.top-section__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
}

.top-section__left .flask::after {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  background-image: url('../img/svg/Plus.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 2.8rem;
  right: -5rem;
}

.top-section__left .flask--equal::after {
  background-image: url('../img/svg/Equal.svg');
}

/* -- Top section (right) -- */

.top-section__right {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.line {
  width: 2px;
  height: 22rem;
  background-color: var(--light);
}

/*
-----------------------------------
Bottom section
-----------------------------------
*/

.bottom-section {
  padding: 0 2.7rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8rem;
}

/* -- Bottom section (left) -- */

.bottom-section__left p {
  margin-bottom: 2.5rem;
}

.random-colors {
  display: flex;
  gap: 2.5rem;
}

/* -- Bottom section (right) -- */

.bottom-section__right {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.actions .button {
  font-family: 'Cinzel Decorative', serif;
  padding: 1rem 2rem;
  border: solid 2px var(--light);
  text-decoration: none;
}

.actions .button:hover {
  border-color: var(--gold);
  transition: 0.3s;
}

.button--cta {
  background-color: var(--light);
  color: var(--dark);
}

.button--cta:hover {
  background-color: var(--gold);
  color: var(--dark);
}

.line--short {
  width: 2px;
  height: 12rem;
}

.score {
  font-size: 5rem;
  font-family: 'Cinzel Decorative', serif;
  text-align: center;
}